.container {
  margin: 80px auto;
  text-align: center;
}

.iconSuccess {
  color: #6ecb63;
  font-size: 50px;
  margin-bottom: 10px;
}

.container h1 {
  color: #555;
  font-weight: 900;
}

.container p {
  font-size: 30px;
  font-weight: 450;
  color: #666;
}
