.address {
  font-size: 14px;
  color: #777777;
}

.address p:first-child {
  color: #06a09d;
  font-weight: 400;
}

.address p:first-child:hover {
  font-weight: bold;
}
.borderBottom {
  border-bottom: 2px solid #9ddac6;
  color: #444;

  text-decoration: none !important;
}

.borderBottom:hover {
  color: #444;
  border-bottom: 2px solid #00a19d;
}
