.formContainer input,
#textMessage {
  border: 0;
  border-bottom: 2px solid #ccc;
  border-radius: 0;
}

.formContainer button {
  border-radius: 0;
  font-size: 20px;
  padding: 8px 20px;
  margin-top: 20px;
}

input #name.form-control:focus {
  box-shadow: none;
  border-color: #000;
}
