.information {
  position: relative;
  width: 40px;
  height: 40px;
  border: 2px solid lightgray;
  text-align: center;
  margin-right: 10px;
  cursor: pointer;
  margin-bottom: 0;
}

.information span,
.quantityContain span {
  position: absolute;
  left: 50%;
  top: 50%;
  transform: translate(-50%, -50%);
}

.quantityContain {
  position: relative;
  width: 40px;
  border-top: 1px solid gray;
  border-bottom: 1px solid gray;
  text-align: center;
}

.selected {
  border: 2px solid #571f9c;
  transition: 0.4s ease-in-out;
}

.notSelect {
  transition: 0.2s ease-in-out;
}

.minHeight {
  min-height: 80vh;
  margin-top: 100px;
}
