.postImage img {
  width: 100%;
  height: auto;
  object-fit: cover;
  object-position: center;
}

.postContent {
  padding-top: 15px;
}

.postContent p {
  color: #999999 !important;
  font-weight: 400;
}

.postContent p:first-child {
  font-size: 14px;
}

.postContent h2 a:hover {
  color: #06a09d !important;
}
