.recentPost {
  display: flex;
  margin-bottom: 20px;
}

.recentPost a img {
  height: 110px;
  object-fit: cover;
  object-position: center;
  width: 110px;
}

.title {
  padding: 15px;
}

.title p {
  margin-bottom: 10px;
  color: #06a09d !important;
}