.image img {
  width: 100%;
  height: auto;
}

.title {
  position: relative;
}

.title h2 a {
  position: absolute;
  bottom: 80px;
  font-size: 25px;
  text-align: center;
  padding: 0 20px;
  background-color: rgba(83, 93, 95, 0.4);
  color: #fff !important;
  font-weight: bold !important;
}

.title h2 a:hover {
  color: #f7f6f2 !important;
}
