#userTitle img {
  width: 10rem;
}

#userTitle p {
  font-size: 16px;
  color: #ccc;
  font-weight: 600;
}

#userInfo,
#userBilling {
  font-weight: 500;
}

.width50 {
  width: 50%;
}

.width50 p:first-child {
  font-size: 14px;
  color: #ccc;
}
