.headerWrapper {
    background-image: linear-gradient(rgba(0, 0, 0, 0.5), rgba(0, 0, 0, 0.5)),
      url(https://theme.hstatic.net/1000333436/1000696015/14/t-shirt.jpg?v=345);
    background-repeat: no-repeat;
    background-size: cover;
    position: relative;
    height:  20vh;
  }
  
  .headerWrapper h1 {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    color: #fff;
    text-align: center;
    font-size: 25px;
    text-transform: uppercase;
  }