.oldPrice {
  text-decoration-line: line-through;
  margin-left: 10px;
  font-size: 14px;
  font-weight: bold;
}
.newPrice {
  font-size: 14px;
  font-weight: bold;
}
.boxItemHome{
    width:80%;
  position: absolute;
  top:80%;
  left:10%;transition: 0.2s;
}
.itemHome:hover .boxItemHome{
  transition: 0.2s;
  top:78%;
}
.itemHome{
  margin-bottom: 12%;
}
.productImg{
  cursor: pointer;
}
@media only screen and (max-width: 600px) {

}
@media only screen and (max-width: 900px) and (min-width: 320px){
   .itemHome{
      margin-bottom: 52%;
    }
}