@import url("https://fonts.googleapis.com/css2?family=DM+Serif+Display&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Lobster&display=swap");
.wrapper {
  position: relative;
}

.title {
  position: absolute;
  font-size: 1.5rem;
  top: 15%;
  left: 8%;
  text-align: center;
}

.title h1 {
  font-family: "DM Serif Display", "Arial", serif;
  font-size: 6rem;
}
.title p {
  color: #555;
}

.title a {
  color: #fff;
  margin-top: 25px;
  text-decoration: none;
}
.backgroundImage img {
  width: 100%;
  height: auto;
}

.mainSection {
  max-width: 1290px;
  margin-left: auto;
  margin-right: auto;
}

.header {
  font-family: "Lobster", "Arial", cursive;
  font-size: 60px;
  text-align: center;
  padding-top: 230px;
}


